@media screen and (max-width: 890px) {
    
    header {
        width: 90.21%;
        height: 16px;
        top: 41px;
        left: 4.9%;
    }

    .footer-grid-container {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    
    section.hero {
        height: 800px;
        background-image: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3_\(responsive\).svg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        width: 90.21%;
        height: 16px;
        top: 41px;
        left: 4.9%;
    }

    .top-menu {
        width: 22px;
        height: 22px;
        background-image: url(../assets/images/hamburger-menu-svgrepo-com.svg);
        background-size: cover;
    }

    li > a {
        display: none;
    }

    main {
        height: 990px;
        align-items: flex-start;
    }

    #main_h2 {
        width: 355px;
        height: 261px;
        top: 65px;
        left: 23px;
        text-align: left;
    }

    #main_h3 {
        top: 367px;
        left: 23px;
        width: 453px;
        height: 81px;
        text-align: left;
    }

    article {
        flex-direction: column;
        gap: 24px;
        bottom: 178px;
        left: 23px;
        width: 445px;
        height: 336px;
    }

    .first-p, .second-p {
        width: 100%;
    }

    #content-button {
        top: 836px;
        left: 23px;
    }

    .learn-more {
        background-image: url(../assets/images/IMG_1334_72dpi_RGB_\ 1_\(responsive\).png);
    }

    .play-button {
        width: 100px;
        height: 100px;
        top: 208px;
        font-size: 36.67px;
    }

    footer {
        height: 292px;
    }

    .footer-grid-container {
        grid-template: repeat(4, 1fr) / 100%;
        width: 243px;
        height: 161px;
        top: 56px;
    }

    .footer_logo {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
        align-self: start;
    }

    .footer-address {
        text-align: center;
        width: fit-content;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        justify-self: center;
        align-self: center;
    }
    
    .footer-email {
        width: fit-content;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        justify-self: center;
        align-self: center;
    }
    
    .footer-year {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        justify-self: center;
        align-self: center;
    }

}