section.hero {
    position: relative;
    width: 100%;
    height: 822px;
    background-image: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3.svg);
    background-size: cover;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 651px;
    height: 26px;
    left: 16.263%;
    top: 45px;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    align-self: flex-start;
    width: 91px;
    height: 16px;
    font-size: 20px;
    line-height: 80%;
    letter-spacing: 0.1em;
    margin: 0;
}

.top-menu {
    position: relative;
    display: flex;
    width: 395px;
    height: 22px;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-self: flex-end;
}

li > a {
    text-decoration: none;
    color: #FFFFFF;
}

li > a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.projects-link, .about-us-link {
    width: 81px;
    height: 16px;
    white-space: nowrap;
}

.stories-link {
    width: 67px;
    height: 16px;
}

.contact-link {
    width: 73px;
    height: 16px;
}

.hero_block {
    position: absolute;
    width: 426px;
    height: 292px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_logo {
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out 0.1s;
}

.big_logo:hover {
    transform: rotateY(180deg) scale(1.3, 1.3);
}

h1 {
    position: absolute;
    top: 43.84px;
    width: 386px;
    height: 118px;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 133%;
    text-align: center;
    color: #FFFFFF;
}

#hero_block_content { 
    position: absolute;
    bottom: -19.92px;
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFFB2;
}